

<div class="index">
  <div class="nurseIndex">
    <img  src="../images/Nurse-White-Circle.png"><br>
  </div>
  <div class="logoIndex" >
    
  <a href="/login"><img src="../images/Livabetes-white-logo.png"></a>

  </div>

  