<div class="index">
  <div class="nurseIndex">
    <img  src="../images/Nurse-White-Circle.png"><br>
  </div>
  <div class="logoIndex" >
    {{!-- <img src="../images/Livabetes-white-logo.png"> --}}
  <img src="../images/Livabetes-white-logo.png">
  <button class="btn"></button>
</div>
