

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #00B7FF;
}

.clientDetails {
  border-color: white;
}

.index {
  display:flex;
  padding: 0;
  margin: 0;
  background-image: url("../images/BackGround.png");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

}

.nurseIndex {
  display:flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
}

.logoIndex {
  display:flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 15vw;
}

.loginPage {
  display:flex;
  padding: 0;
  margin: 0;
  background-image: url("../images/BackGround.png");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}