<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div>
                {{#each theList}}
                <div class="card">
                    <div class="container">
                        <h1><b>{{this.name}}</b></h1>
                        <br><img class="userPics" src="{{this.image}}">
                        <h1><br> Next Apointment:
                            <br/>
                            <br/> {{this.nextAppointmentTime}}

                            <br><br></h1>
                    </div>
                </div>
                <br><br><br> {{/each}}
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>