<div class="loginPage">

  <img class="logoLogin" src="../images/Livabetes-white-logo.png"> 
  

  <div>
    <br>
    <div class="loginForm">
      <form class="form-style-4" action="" method="post">
        <label for="field1">
          <input type="text" name="username" placeholder="Username" required="true" />
        </label>
        <label for="field2">
          <input type="text" name="password" placeholder="Password" required="true" />
        </label>
        <button class="loginBtn">Log in</button>
      </form>
    </div>
    <div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {{#if message}}
  <div>{{message}}</div>
  {{/if}}
  
  <p class="p">Don't have an account?</p>
      <a href="/signup"></a><button class="signupBtn" , type="button">Sign up</a>
    </div>
  </div>
</div>