<img src="../images/Livabetes-white-logo.png">
<div>
  <form action="/login" method="POST">
    <div>
      <label for="username">Username:</label>
      <input type="text" name="username">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password">
    </div>
</div>
{{#if message}}
<div>{{message}}</div>
{{/if}}

<div class= loginBtn>

  <button type="button">Log in</button>
  
</div>
