<div class="signup">
  <h1 class="h1">Signup</h1>
  <form class="formSignUP" action="" method="post">
    <br/>
    <label for="field1">
      <input type="text" name="username" placeholder="Username" required="true" />
      <p>Username must not be taken.</p>
    </label>
    <br/>
    <br/>
    <label for="field2">
      <input type="email" name="Password" placeholder="Password" required="true" />
      <p>Password must be at least 8 characters.</p>
    </label>
  </form>
  <a href="/login"><button>Create Account</button></a>
</div>