<h2>Signup</h2>

<form action="/signup" method="POST" id="form-container">


  <label for="organization">Organization</label>
  <input id="organization" type="text" name="organization" placeholder="Organization">

 <br><br>
  <label for="title">Title</label>
  <input id="title" type="text" name="title" placeholder="MD/NP/RN">


 <br><br>
  <label for="name">Name</label>
  <input id="name" type="text" name="name" placeholder="Name">

 <br><br>
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="User Name">


  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Password">

  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </p>
</form>